[submodule "depends/sokol"]
	path = depends/sokol
	url = git@github.com:floooh/sokol.git
[submodule "depends/HandmadeMath"]
	path = depends/HandmadeMath
	url = git@github.com:HandmadeMath/HandmadeMath.git
[submodule "sokol-tools-bin"]
	path = depends/sokol-tools-bin
	url = git@github.com:floooh/sokol-tools-bin.git
[submodule "depends/stb"]
	path = depends/stb
	url = git@github.com:nothings/stb.git
